body, html, h1, h2, h4, footer,nav{
    margin: 0;
    padding: 0;
    color:white;
    text-align: center;
    font-family: Arial;
 }
h1{
    font-weight: bold;
    font-size: 300%;
}
h4 {
    color:gray;
}
h5 {
    color:rgb(8, 188, 248);
    text-align: right;
 }
.center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
@media only screen and (max-width:800px) {
    /* For tablets: */
    header {
      width: 80%;
      padding: 0;
    }
    nav {
      width: 100%;
    }
  }
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    header, nav, footer {
      width: 100%;
    }
  }
/*estructuras*/
body{
    height: 300px;
     width: 1200px;
    margin: 0 auto;
    background:rgba(0, 0, 0, 0.87);
 }
.centrarh{
  text-align: center;
 }

 /* unvisited link */
a:link {
  color:lightblue;
}

/* visited link */
a:visited {
  color:steelblue;
}

/* mouse over link */
a:hover {
  color:green;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}