
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Forma</title>
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../static/style/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">

  </head>
  <body>
      <header class="header">
            <p class="header__logo"><img class="ms_logo" src="{{ url_for('static', filename='Image/logo_blog++.JPG' ) }}" alt="Logo"></p>
            <nav class="header__navigation">
                <a href="/#" class="header__navigation--item">Login</a>
                <a href="Blog.html" class="header__navigation--item">Mi Blog</a>
                <input type="text" class="header__navigation--text" placeholder="Buscar Blog">
                <a href="Contr.html" class="header__navigation--item">Productos</a>
            </nav>
        </header>
          <header class="palante">

          </header>
        <section class="container">
          <form action="/formulario.html" method="POST" class="content">
              <div class="content__data">
                  <img class="ms_logo" src="{{ url_for('static', filename='Image/logo_blog++.JPG' ) }}" alt="Logo">
                  <span class="title"><strong>Registrarse</strong></span>
                  <p class="subtitle">-------</p>
                  <div class="log__item">
                      <!-- <span class="content__data--title">Email</span> -->
                      <input type="email" name="correo" class="content__data--input" placeholder="Correo Electrónico" required>
                      <input type="text" name="usuario" class="content__data--input" placeholder="Nombre de Usuario" required>
                      <!-- <span class="content__data--title">Contraseña</span> -->
                      <input type="password" name="contraseña" class="content__data--input" placeholder="Contraseña" required>
                      <input type="password" name="contraseña2" class="content__data--input" placeholder="Repita Contraseña" required>
                  </div>
                  <div class="input__content">
                    <input class="login__button" type="submit" value="Registrarse">
                </div>
              </div>
          </form>
      </section>
         
      <footer class="footer">
        <span class="footer__text">Esta es mi pagina &copy;</span>
     </footer>
    
  </body>
</html>