
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Forma</title>
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../static/style/style.css">-->
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <form action="Blog.html" method="POST"></form>
      <header class="header">
        <p class="header__logo"><img class="ms_logo" src="../static/Image/logo_blog++.JPG" alt="Logo"></p>
            <nav class="header__navigation">
                <a href="Blog.html" class="header__navigation--item">Mi Blog</a>
                <input type="text" class="header__navigation--text" placeholder="Buscar Blog">
                <!--<a href="Contr.html" class="header__navigation--item">Productos</a>-->
                <a href="/" class="header__navigation--item">Cerrar Sesion</a>
            </nav>
        </header>
        <section class="container2">
          <form action="/text.txt" class="content2">
            <div class="Box">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="img_5terre.jpg" alt="Blog 1 Izquierda" width="600" height="400">
                  </a>
                  <div class="desc">Primera descripcion de esta madre aqui</div>
                  <a target="_blank" href="img_5terre.jpg">
                    <img src="img_5terre.jpg" alt="Blog 2 Izquierda" width="600" height="400">
                  </a>
                  <div class="desc">Segunda descripcion de esta madre aqui</div>
                  <a target="_blank" href="img_5terre.jpg">
                    <img src="img_5terre.jpg" alt="Blog 3 Izquierda" width="600" height="400">
                  </a>
                  <div class="desc">Tercera descripcion de esta madre aqui</div>
                
            </div>
            <div class="Box__2">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="img_5terre.jpg" alt="Blog 1 derecha" width="600" height="400">
                  </a>
                  <div class="desc">Primera descripcion de esta madre aqui</div>
                  <a target="_blank" href="img_5terre.jpg">
                    <img src="img_5terre.jpg" alt="Blog 2 derecha" width="600" height="400">
                  </a>
                  <div class="desc">Segunda descripcion de esta madre aqui</div>
                  <a target="_blank" href="img_5terre.jpg">
                    <img src="img_5terre.jpg" alt="Blog 3 derecha" width="600" height="400">
                  </a>
                  <div class="desc">Tercera descripcion de esta madre aqui</div>
            </div>
            
           
            
          </form>
      </section>
      <footer class="footer">
        <span class="footer__text">Esta es mi pagina &copy;</span>
     </footer>
    
  </body>
</html>