{% extends "platilla.html" %}
{% block content %}

<section class="container2">
  <form action="/NuevoBlog" method="POST"  target="_blank">
    <div class="opcion">
      <div>
        <input type="radio" name="publico" value="SI">
    <span class="content__data--title">Blog Publico</span>
       </div>
      <div>
        <input type="radio" name="publico" value="NO" checked>
      <span class="content__data--title">Blog Privado</span> 
          </div>
    </div>
    <div>
    <article class="Texto">
      <h1><textarea Class="articulo" name="Titulo" id="Titulo" cols="30" rows="1" placeholder="TITULO PARA EL BLOG" style="align-items: center;" required></textarea></h1>
      <h1><textarea class="articulo" name="textoPost" id="TextoPost" cols="30" rows="15" placeholder="DIGITA LA PUBLICACION PARA TU BLOG" style="align-items: center;"></textarea></h1>
    </article>
    </div>
          <div class="input__content">
            <input class="boton4" type="submit" value="Guardar Cambios">
        </div>
      </div>
  </form>
</section>
{% endblock %}