
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Forma</title>
    <!--<link rel="stylesheet" type="text/css" media="screen" href="../static/style/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
  </head>
  <body>
    <!-- <form action="Blog.html" method="POST"></form> -->
      <header class="header">
        <p class="header__logo"><img class="ms_logo" src="{{ url_for('static', filename='Image/logo_blog++.JPG' ) }}" alt="Logo"></p>
            <nav class="header__navigation">
                <a href="{{url_for('principal')}}" class="header__navigation--item">Inicio</a>
                <input type="text" class="header__navigation--text" placeholder="Buscar Blog">
                <!--<a href="Contr.html" class="header__navigation--item">Productos</a>-->
                <a href="{{url_for('logout')}}" class="header__navigation--item">Cerrar Sesion</a>
            </nav>
        </header>
       {% block content %}

       {% endblock %}
      <footer class="footer">
        <span class="footer__text">Esta es mi pagina &copy;</span>
     </footer>
    
  </body>
</html>