{% extends "platilla.html"%}
{% block content %}
<section class="container2">
  <div class="content2">
  
    <article class="opcion" style="background-color: aliceblue;">
        <h1 class="title_2">Most Popular Browsers</h1>
        <article class="browser">
          <h2 class="title_2">Google Chrome</h2>
          <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
        </article>
        <article class="browser">
          <h2 class="title_2">Mozilla Firefox</h2>
          <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
        </article>
        <article class="browser">
          <h2 class="title_2">Microsoft Edge</h2>
          <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
        </article>
      </article>
    <div class="desc">
      <input type="submit" value="Modificar Blog" class="boton4">
      <input type="submit" value="Eliminar Blog" class="boton4">  
    </div>  
  </div>
</section>

{% endblock %}