{% extends "platilla.html" %}
{% block content %}
<section class="container2">
  <form action="/text.txt" class="content2">
    <div class="opcion">
      <div class="Iteam_1">
        <input type="checkbox" name="Blog Publico" id="Blog Publico">
        <span class="content__data--title">Blog Publico</span>
      </div>
      <div class="Iteam_2">
        <input type="checkbox" name="Blog Privado" id="Blog Privado">
        <span class="content__data--title">Blog Privado</span>
    </div>
    <article class="Texto">
      <h1 class="titulo">Titulo del blog</h1>
      <textarea class="articulo" name="textoPost" id="TextoPost" cols="60" rows="30" style="align-items: center;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        exercitationem delectus odio esse quos. Repellat libero odio 
        pariatur explicabo neque architecto accusantium, 
        perspiciatis itaque expedita, ipsum est vel voluptatem nam!</textarea>
    </article>
    </div>
          <div class="input__content">
            <input class="button" type="button" value="Guardar Cambios">
        </div>
      </div>
  </form>
</section>
{% endblock %}