{% extends "platilla.html" %}
{% block content%}
<section class="container2">
  <form action="/text.txt" class="content2">
    <div class="opcion"> 
      <input type="button" value="Nuevo Blog" class="boton4">
      <div class="Iteam_1">
            </div>
      <div class="Iteam_2">
       </div><hr>

  <form action="/text.txt" class="content2">
    <div class="Box">
        <a target="_blank" href="img_5terre.jpg">
            <img src="img_5terre.jpg" alt="Blog 1 Izquierda" width="600" height="400">
          </a>
          <div class="desc">Primera descripcion
            
            <input type="submit" value="Modificar Blog" class="boton4">
            <input type="submit" value="Eliminar Blog" class="boton4">  
          </div>
          
          <a target="_blank" href="img_5terre.jpg">
            <img src="img_5terre.jpg" alt="Blog 2 Izquierda" width="600" height="400">
          </a>
          <div class="desc">Segunda descripcion</div>
          <a target="_blank" href="img_5terre.jpg">
            <img src="img_5terre.jpg" alt="Blog 3 Izquierda" width="600" height="400">
          </a>
          <div class="desc">Tercera descripcion</div>
        
    </div>
     </form>
</section>
{% endblock %}